@media (min-width: 1200px) {
    .container {
        width: 1024px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        width: 100%;
    }
}

.content {
    width: 100%;
    left: 0px;
}

.conecte-theme{
    font-family: "Museo-500";
}

.conecte-theme .btn {
    font-family: "Myriad Pro";
}



.people-banner {
    text-align: center;
    margin-top: 85px;
    height: 50px;
    width: 100%;
    background: url('../img/people-banner.png');
    overflow: visible;
}

.app-banner {
    padding: 20px;
    height: 80px;
    background: #d8dede;
}

.btn.btn-facebook {
    font-size: 14px;
    width: 100%;
    background: #3a5c91;
    border: #3a5c91;
    color: #ffffff;
}

.btn.btn-facebook i {
    font-size: 24px;

}

.btn.btn-facebook:hover {
    background: #4773b8;
}

.app-banner img {
    top: -50px;
    right: -50px;
    position: absolute;
}

.app-banner span {
    font-size: large;
    font-weight: bolder;
}

.app-banner .btn {
    margin-left: 20px;
}

.logo {
    position: absolute;
    display: inline;
    top: 0px;
    left: 50%;
    margin-left: -95px;
}

.form-content {
    background: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:50px;

}

.form-content a{
    text-decoration: none;
    color: #000000;
    font-family: "MyriadPro-Regular";
    font-stretch: condensed;
    font-size: 16px;
}

.conecte-theme .form-content p {
    font-size: 18px;
}

.form-content form {
    padding: 0px 25px 25px 25px;
}

.contato {
    width: 100%;
    padding: 40px;
    background: #adbb1d;
    font-size: 14px;
    color: #ffffff;
    font-weight: bolder;
}

.contato .border{
    display: block;
    width: 170px;
    height: 170px;
    border: 15px solid #bfce20;
    border-radius: 100px;
    position: absolute;
    left: 23px;
    top: -34px;
    overflow: hidden;
    background: #ffffff;
}

.contato .border img{
    position: absolute;
    top: 43px;
    left: 9px;
}

.line {
    margin-top: 10px;
    display: block;
    height: 1px;
    width: 100%;
    background: #000000;
}

.navbar-conecte {
    height: 70px;
    background: #ffffff;
    border-bottom: 3px solid #e1e1e1;
    background: url("../img/conecte-mini-logo.png");
    background-repeat: no-repeat;
    background-position: center;

}

.navbar-header {
    margin-top: 8px;
}

.nav-sidebar li {
    height: 60px;
    padding: 15px;
    text-transform: uppercase;
    font-weight: bolder;
    border-bottom: 0px;

}

.nav-sidebar  img{
    position: absolute;
}
.nav-sidebar span{
    display: block;
    margin-left: 45px;
    margin-top: auto;
    margin-bottom: auto;
    line-height:15px;

}

.nav-sidebar-social li {
    height: 40px;
    padding: 15px;
}

.nav-sidebar {
    color: #ffffff;
}

.nav-sidebar-social {
    font-size: 14px;
    font-weight: bold;
    color: #555555;
}

.nav-sidebar-social i {
    position: absolute;
    left: 18px;
    top: 10px;
}

.nav-sidebar-social span {
    padding-left: 46px;
}

.sidebar {
    padding-left: 0px;
    padding-right: 0px;
}

.sidebar ul li.active {
    color: #3862a3;
}

.sidebar ul li.active img {
    -webkit-filter: hue-rotate(30deg);
    filter: hue-rotate(30deg);
    -webkit-filter: invert(.8);
    filter: invert(.8);
}

.nav-sidebar ul li span {
    display: block;

}

.bg-dark-blue {
    background: #0463a7;
}

.bg-blue {
    background: #0095d7;
}

.bg-green {
    background: #44924f;
}

.bg-oliver {
    background: #acb745;
}

.bg-yellow {
    background: #f7e443;
}

.bg-dark-yellow {
    background: #e7c84f;
}

.bg-ligth-orange {
    background: #ddad34;
}

.bg-orange {
    background: #d08d32;
}

.bg-dark-gray {
    background: #555555;
}

.main .content {
    margin: 25px 25px 25px 0px;
    padding: 15px;
    background: #ffffff;
    min-height: 720px;
}

.conecte-theme .btn.btn-default {
    background: #eff1f7;
    border: 1px solid #3f9c3a;
    color: #3f9c3a;
}

.conecte-theme .btn.btn-default:hover {
    background: #3f9c3a;
    border: 1px solid #eff1f7;
    color: #eff1f7;
}

.conecte-theme .container {
    max-width: 1024px;
}

.btn.btn-app {
    background: #d8dede;
    color: #185177;
    border: 1px solid #185177;
}

.btn.btn-app:hover {
    background: #a0c59e;
    color: #185177;
    border: 1px solid #185177;
}

.txt-color-green {
    color: #185177;
}

.txt-color-white {
    color: #ffffff;
}

.profile {
    background: url("../img/background.png");
    padding: 15px;
}

.profile .profile-photo-content {
    text-align: center;
}

.profile .profile-photo {
    border-radius: 125px;
    border: 18px solid rgb(34, 148, 210);
    height: 200px;
    width: 200px;
    display: block;
    overflow: hidden;
}

.profile .profile-photo .nick {
    background: #cbdff2;

}

.profile .profile-photo img {
    margin: -18px;
}

.profile .block {
    padding: 15px;
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid #cbdff2;
}

.profile .block .info {
    position: relative;
    padding: 5px 5px 5px 5px;
    background: #cbdff2;
    top: -15px;
    font-weight: bold;
    font-size: 18px;
}

.friends {
    position: relative;
    left: 0px;
    right: 0px;
    padding-bottom: 20px;
}

.friends .col-xs-3 {
    padding-left: 0px;
    padding-right: 0px;
}

.friends img {
    width: 100%;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

