<ul class="nav nav-sidebar">
    <li  class="bg-yellow active"><img src="img/icon/novidades.png"><span>Novidades</span></li>
    <li class="bg-ligth-orange"><img src="img/icon/desempenho.png"><span>Desempenho Escolar</span></li>
    <li class="bg-orange"><img src="img/icon/projeto.png"><span>Projeto de Vida</span></li>
    <li class="bg-dark-blue"><img src="img/icon/agenda.png"><span>Agenda</span></li>
    <li class="bg-blue"><img src="img/icon/tutoria.png"><span>Tutoria de Seminários</span></li>
    <li class="bg-oliver"><img src="img/icon/oportunidade.png"><span>Mural de Oportunidades</span></li>
    <li class="bg-green"><img src="img/icon/curriculo.png"><span>Curriculo Online</span></li>
    <li class="bg-dark-gray"><img src="img/icon/check-list.png"><span>Checklist de Preparação</span></li>
</ul>