<div class="app-banner">
    <div class="row hidden-xs">
        <div class="col col-xs-3 col-sm-2 col-md-4"><img class="pull-right" src="img/devices.png"></div>
        <div class="col col-xs-9 col-sm-10 col-md-8">
            <span class="txt-large txt-color-green">Baixa grátis o aplivativo Conecte:</span>
            <a class="btn btn-lg btn-app"><i class="fa fa-apple"></i> App Store</a>
            <a class="btn btn-lg btn-app"><i class="fa fa-android"></i> Play Store</a>
        </div>
    </div>
</div>
<div class="contato">
    <div class="row">
        <div class="col col-xs-3">
            <span class="border"><img src="/img/logo-ia.png"></span>
        </div>

        <div class="col col-xs-3">

            <sub>obre o Conecte:</sub><br>
            Concheça o Conecte<br>
            Quem pode participar<br>
            Cadastre-se<br>
            Termos de Uso

        </div>
        <div class="col col-xs-3">

            <sub>Fale com a gente:</sub><br>
            ia@institutoalianca.org.br<br>
            55 71 2107 7400

        </div>
        <div class="col col-xs-3">
            Nos acompanhe nas redes sociais
            <ul class="list-inline">
                <li><i class="fa fa-3x fa-facebook-square"></i></li>
                <li><i class="fa fa-3x fa-whatsapp"></i></li>
                <li><i class="fa fa-3x fa-youtube-play"></i></li>
                <li><i class="fa fa-3x fa-twitter"></i></li>
            </ul>
        </div>
    </div>
</div>