<nav class="navbar navbar-conecte navbar-static-top">
    <div class="container">
        <div class="navbar-header"></div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a class="navbar-brand pull-left" href="#"><i class="fa fa-bars"></i> Menu</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="navbar-brand pull-left" href="#"><i class="fa fa-times"></i> Sair</a>
                </li>
            </ul>
        </div>
    </div>
</nav>