
@font-face {
  font-family: 'MyriadPro-BoldCond';
  src: url('/fonts/MyriadPro-BoldCond.eot?#iefix') format('embedded-opentype'),  url('/fonts/MyriadPro-BoldCond.otf')  format('opentype'),
	     url('/fonts/MyriadPro-BoldCond.woff') format('woff'), url('/fonts/MyriadPro-BoldCond.ttf')  format('truetype'), url('/fonts/MyriadPro-BoldCond.svg#MyriadPro-BoldCond') format('svg');
  font-weight: normal;
  font-style: normal;
}
